{% extends "detail.html" %}
{% load public %}
{% block headline %}{{ object.usage }}<br>
[{{ object.get_state_display }}]{{ object.get_type_display }}{{ object.order }}
{% endblock %}
{% block subheadline %}
    对应订单：<a href="{{ object.get_obj.get_absolute_url }}">{{ object.get_obj|verbose_name }} {{ object.get_obj }}</a><br>
    对方名称：<a href="{{ object.partner.get_absolute_url }}">{{ object.partner }}</a> / 总金额：{{ object.amount }}<br>
    账单日期：{{ object.date }} / 到期日期： {{ object.due_date }}

{% endblock %}
{% block state-right %}
{% if object.state != 'cancel' %}
        {% if object.due_amount %}
            <a onclick="add_item('{% url 'payment_create_from_invoice' object.id object.partner.id %}')"
               class="btn right">登记款项
            </a>
        {% endif %}
    {% endif %}
{% endblock %}
{% block content %}
    <table class="striped">
        <thead>
        <tr>
            <th>#</th>
            <th>项目</th>
            <th>数量</th>
            <th>单价</th>
            <th>金额</th>
            <th>编辑</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object.items.all %}
            <tr>
                <td>{{ item.line }}</td>
                <td>{{ item.item }}</td>
                <td class="right-align">{{ item.quantity }}{{ item.uom }}</td>
                <td class="right-align">{{ item.price }}</td>
                <td class="right-align">{{ item.amount }}</td>
                <td>{% if object.state == 'draft' %}
                    <!-- Dropdown Trigger -->

                    <a class='dropdown-trigger btn-small btn-floating grey' href='#'
                       data-target='dropdown{{ forloop.counter }}'> <i
                            class="material-icons">more_vert</i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown{{ forloop.counter }}' class='dropdown-content'>
                        <li>
                            <a onclick="edit_item('{% url 'invoice_item_edit' item.id %}')">修改
                            </a>
                        </li>
                        <li>
                            <a onclick="item_remove('{% url 'invoice_item_delete' item.id %}')">
                                删除
                            </a>
                        </li>
                    </ul>
                {% endif %}</td>
            </tr>
        {% endfor %}

        </tbody>
        <tfoot>
        <tr>
            <th colspan="4" class="right-align">总金额：</th>
            <th class="right-align">{{ object.amount }}</th>
            <th></th>
        </tr>
        {% if object.assign_payments.all %}
            {% for payment in object.assign_payments.all %}
                <tr>
                    <form action="{% url 'assign_delete' payment.id %}" method="post">

                        <td colspan="4" class="right-align">
                            <a {% if payment.payment.state == 'draft' %}class="red-text" {% endif %}href="{{ payment.payment.get_absolute_url }}">
                                <i>{{ payment.payment }}</i>
                                {#                                <i>{{ payment.payment.amount }}({{ payment.payment.account }})-{{ payment.created }}</i>#}
                            </a>
                        </td>
                        <td class="right-align">
                            {% if not payment.payment.confirm %}
                                <s>
                                    {{ payment.amount }}
                                </s>
                            {% else %}
                                {{ payment.amount }}
                            {% endif %}
                        </td>
                        <td>
                            {% if object.state != 'done' %}
                                <button class="btn-floating btn-small red waves-effect waves-red" type="submit">
                                    <i class="material-icons">money_off</i>
                                </button>
                            {% endif %}
                        </td>
                        {% csrf_token %}
                    </form>
                </tr>
            {% endfor %}
        {% endif %}
        <tr>
            <th colspan="4" class="right-align">未付余额：</th>
            <th class="right-align">{{ object.confirm_due_amount }}</th>

            <th>
                {% if object.state != 'cancel' %}
                    {% if object.due_amount > 0 %}
                        <a href="#"
                           onclick="confirm_option('{% url 'invoice_quick_assign_undercharge_payment' object.id %}')">少收此货款</a>
                    {% endif %}
                {% endif %}
            </th>
        </tr>
        </tfoot>
    </table>

{% endblock %}
{% block sidebar %}
    {% if object.due_amount %}
        <p class="h3">该对方名下，可分配的付款项：</p>
        <div class="divider"></div>
        <ul class="list-group">
            {% for payment in object.partner.payments.all %}
                {% if payment.get_balance %}
                    <li class="list-group-item">{{ payment.get_balance }}({{ payment.account }}):{{ payment.created }}
                        <button class="btn-floating  btn-small blue waves-effect waves-blue"
                                onclick="add_item('{% url 'assign_payment' object.id payment.id %}')">
                            <i class="material-icons">attach_money</i></button>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if object.get_files %}
        <div class="collection">
            <a class="collection-item" href="{% url 'object_files_list' object|label_name object.id %}">
                <span>文件档案({{ object.get_files.count }})</span>
                <i class="material-icons right">folder</i>
            </a>
        </div>
    {% endif %}
{% endblock %}
{% block domready %}
    {{ block.super }}
    $('.dropdown-trigger').dropdown();
{% endblock %}