{% extends 'detail.html' %}
{% block headline %}
    金额:{{ object.amount }}<br>
    {{ object.get_type_display }} / 对方：{{ object.partner }}
{% endblock %}
{% block subheadline %}
    登记人：{{ object.entry }} / 时间: {{ object.updated }}
{% endblock %}
{% block content %}
    {% if object.assign_invoice.all %}
        <span>分配情况</span>
        <table>
            <thead>
            <tr>
                <th>账单</th>
                <th>分配金额</th>
                <th>日期</th>
                <th>登记人</th>
            </tr>
            </thead>
            <tbody>
            {% for assign in object.assign_invoice.all %}

                <tr>
                    <td><a href="{{ assign.invoice.get_absolute_url }}">{{ assign.invoice }}</a></td>
                    <td>{{ assign.amount }}</td>
                    <td>{{ assign.created }}</td>
                    <td>{{ assign.entry }}</td>
                    <td>
                        <form action="{% url 'assign_delete' assign.id %}" method="post">
                            {% if not object.confirm %}
                                <button class="btn-floating btn-small red waves-effect waves-red" type="submit">
                                    <i class="material-icons">money_off</i>
                                </button>
                            {% endif %}
                            {% csrf_token %}
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>未分配金额</th>
                <th>{{ object.get_balance }}</th>
                <th></th>
                <th></th>
            </tr>
            </tfoot>
        </table>
    {% else %}
        <p>本笔款项，没有分配到任何账单</p>
    {% endif %}
{% endblock %}
{% block sidebar %}
{% if object.get_files %}
        <div class="collection">
            <a class="collection-item" href="{% url 'object_files_list' object|label_name object.id %}">
                <span>文件档案({{ object.get_files.count }})</span>
                <i class="material-icons right">folder</i>
            </a>
        </div>
    {% endif %}
{% endblock %}