{% extends "detail.html" %}
{#导入purchase的templatetages用来显示#}
{% load public %}
{% block headline %}{{ object.get_state_display }}{{ object.order }}{% endblock %}
{% block subheadline %}
    供应商：{{ object.partner }} / 经办人：{{ object.handler }}
    {% if object.state == 'confirm' %}
        <a href="{% url 'purchase_order_in_order' object.id %}" class="float-right">收货</a>
    {% endif %}
{% endblock %}
{% block btn %}
{% endblock %}
{% block content %}
    <table class="table table-sm">
        <thead>
        <tr><th>#</th>
            <th>编号</th>
            <th>重量</th>
            <th>长</th>
            <th>宽</th>
            <th>高</th>
            <th>立方</th>
            <th>单位</th>
            <th>单价</th>
            <th>金额</th>
            <th>编辑</th>
        </tr>
        </thead>

        <tbody>
        {% for item in object.items.all %}
            <tr>
            <td>{{ item.line }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.weight }}</td>
                <td>{{ item.long }}</td>
                <td>{{ item.width }}</td>
                <td>{{ item.height }}</td>
                <td>{{ item.m3 }}</td>
                <td>{{ item.uom }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.get_amount }}</td>
                <td>{% if object.state == 'draft' %}
                    <!-- Dropdown Trigger -->

                    <a class='dropdown-trigger btn-floating grey' href='#' data-target='dropdown{{ forloop.counter }}'> <i
                            class="material-icons">more_vert</i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown{{ forloop.counter }}' class='dropdown-content'>
                        <li>
                            <a onclick="edit_item( '{% url 'purchase_order_item_edit' item.id %}')">修改
                            </a>
                        </li>
                        <li>
                            <a onclick="item_remove('{% url 'purchase_order_item_delete' item.id %}')">
                                删除
                            </a>
                        </li>
                    </ul>
                {% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td>
                <a href="#" onclick="add_item('{{ object.get_create_item_url }}')">添加</a>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ object.get_quantity }}</td>
            <td>{{ object.uom }}</td>
            <td>{{ object.get_amount }}</td>
            <td></td>
        </tr>
        </tfoot>
    </table>
    {% include 'float_btn.html' %}

{% endblock %}
{% block sidebar %}
    <ul class="list_group">
        {% for invoice in object.invoices.all %}
            <li class="list_group_item"><a href="{{ invoice.invoice.get_absolute_url }}">{{ invoice.invoice }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block script %}

{% endblock %}