{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if object_list %}
        <form action="" method="post" id="select_block_form">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>选</th>
                    <th>编号</th>
                    <th>重量</th>
                    <th>长</th>
                    <th>宽</th>
                    <th>高</th>
                    <th>立方</th>
                    <th>计量单位</th>
                    <th>单价</th>
                    <th>金额</th>
                    <th>编辑</th>
                </tr>
                </thead>

                <tbody>
                {% for object in object_list %}
                    <tr id="block_list_tr">
                        <td><input type="checkbox" name="check_box_list" value="{{ object.id }}"></td>
                        <td>{{ object.name }}</td>
                        <td>{{ object.weight }}</td>
                        <td>{{ object.long }}</td>
                        <td>{{ object.width }}</td>
                        <td>{{ object.height }}</td>
                        <td>{{ object.m3 }}</td>
                        <td>{{ object.uom }}</td>
                        <td>{{ object.price }}</td>
                        <td>{{ object.get_amount }}</td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn btn-sm " data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    ...
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" data-toggle="modal" data-target=".bd-example-modal-sm"
                                       href="{% url 'import_block_edit' %}">修改</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
            {% csrf_token %}
        </form>
    {% else %}
        <p>还未有内容</p>
    {% endif %}

{% endblock %}
{% block siderbar %}
     <form id="block_form" method="post">
                        {{ form|crispy }}
                        <input id="block_form_submit" class="btn btn-primary" type="submit" value="确认">
                        {% csrf_token %}
                    </form>
    <ul>
        <li><input type="submit" form="select_block_form" class="btn btn-success" value="select">
        </li>
        <li><a href="{% url 'purchase_order_create_one' %}" class="btn btn-danger">退回上一步</a></li>
{#        <li><a class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">填写总资料</a>#}
        </li>

    </ul>

    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="container">
                    <form id="block_form" method="post">
                        {{ form|crispy }}

                        <input id="block_form_submit" class="btn btn-primary" type="submit" value="确认">
                        {#                        </fieldset>#}
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{#    <script type="text/javascript">#}
{#        $('#block_form').submit(function () {#}
{#            $.ajax({url:"{% url 'import_block_edit' %}",#}
{#                 type: 'POST',#}
{#                data: $(this).serialize(),#}
{#                cache: false,#}
{#                success: function (data) {#}
{#                    console.log(data);#}
{#                    //插入数据#}
{#                    var new_block = ''#}
{#                    $("#block_list_tr").append(new_block)#}
{#                },#}
{#                error: function (xhr) {#}
{#                    console.log(xhr);#}
{#                },});#}
{#            return false#}
{#        });#}


    {#</script>#}
{% endblock %}
{% block domready %}


{% endblock %}