{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if object_list %}
        <table class="table table-sm">
            <thead>
            <tr>
                <th>选</th>
                <th>编号</th>
                <th>重量</th>
                <th>长</th>
                <th>宽</th>
                <th>高</th>
                <th>立方</th>
                <th>计量单位</th>
                <th>单价</th>
                <th>金额</th>
                <th>编辑</th>
            </tr>
            </thead>

            <tbody>
            {% for object in object_list %}
                <tr id="block_list_tr">
                    <td><input type="checkbox" name="check_box_list" value="{{ object.id }}"></td>
                    <td>{{ object.name }}</td>
                    <td>{{ object.weight }}</td>
                    <td>{{ object.long }}</td>
                    <td>{{ object.width }}</td>
                    <td>{{ object.height }}</td>
                    <td>{{ object.m3 }}</td>
                    <td>{{ object.uom }}</td>
                    <td>{{ object.price }}</td>
                    <td>{{ object.get_amount }}</td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="mdui-btn" onclick="edit_item({{ object.id }})">
                                编辑
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tfoot>
        </table>
    {% else %}
        <p>还未有内容</p>
    {% endif %}


{% endblock %}
{% block siderbar %}
    <form id="block_form" method="post">
        {{ form.media }}
        {{ form|crispy }}
        <input id="block_form_submit" class="btn btn-primary" type="submit" value="确认">
        {% csrf_token %}
    </form>
    <ul>
        <li><input type="submit" form="select_block_form" class="btn btn-success" value="select">
        </li>
        <li><a href="{% url 'purchase_order_create_one' %}" class="btn btn-danger">退回上一步</a></li>
        </li>

    </ul>
    //*弹出表格
    <div class="mdui-dialog" id="update_item_form">
        <div class="mdui-dialog-content">
            <form method="post" action="{% url 'edit_order_item' %}" id="edit_item_form">
                <div id="item_form" class="mdui-container">
                    {% include 'purchase/order/addNewBlockForm.html' %}
                </div>
                {% csrf_token %}
                <input class="mdui-btn mdui-btn-block" type="submit" value="确认">
            </form>
        </div>
    </div>
    <script>
        var inst = new mdui.Dialog('#update_item_form');

        function edit_item(val) {

            $$.ajax({
                method: 'GET',
                url: '{% url 'edit_order_item' %}',
                data: {
                    item_id: val,
                },
                success: function (req) {
                    $$('#item_form').html(req)
                    inst.open()
                },
            });
        }

        $$('#edit_item_form').on('submit', function (e) {
            $form = $$('#edit_item_form')
            $$.ajax({
                method: 'POST',
                url: $form.attr('action'),
                data: $form.serialize(),
                success:function (req) {
                    window.location.reload()
                },
                error: function (req) {
                    $$('#item_form').html(req)
                },
            });
            return false;
        })
    </script>
{% endblock %}
{% block domready %}


{% endblock %}