{% extends 'detail.html' %}
{% load public %}
{% block domready %}
    {{ block.super }}
    $('.dropdown-trigger').dropdown();
    $('.tabs').tabs();
{% endblock %}
{% block operate %}
    {% if btn_visible.turn_back %}
        <a class="btn orange" href="{% url 'turn_back_order_create' object|model_name object.id %}">退回操作</a>
    {% endif %}
    {% if object.state not in  'cancel,done' %}
        <a class="btn default" href="{% url 'invoice_create' object|label_name object.id %}">创建账单</a>
    {% endif %}
{% endblock %}
{% block headline %}
    <span class="chip {% if object.state == 'cancel' %}grey{% elif object.state == 'confirm' %}blue{% elif object.state == 'done' %} yellow{% endif %}">
        {{ object.get_state_display }}
        {{ object.order }}</span>
{% endblock %}
