{% extends "mrp/detail.html" %}
{% load materializecss %}
{% load public %}
{% block headline %}<span class="h6">[{{ object.get_state_display }}]</span>
    <a href="{{ object.from_order.get_absolute_url }}">{{ object }}</a>
{% endblock %}
{% block subheadline %}
    业务伙伴：{{ object.partner }} / 仓库：{{ object.warehouse }} / 经办人：{{ object.handler }}
{% endblock %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>编号</th>
            <th>数量</th>
            <th></th>
            <th>编辑</th>
        </tr>
        </thead>

        <tbody>
        {% for item in object.items.all %}
            <tr id="block_list_tr">
                <td>{{ item.line }}</td>
                <td>{{ item.product }}</td>
                <td>{% if item.package_list %}
                    {% if object.state == 'draft' %}
                        <a href="#"
                           onclick="open_package_list('{% url "out_order_package_detail" item.package_list.id %}','{{ object.state }}')">
                            {{ item.package_list.get_part }}夹/ {{ item.piece }}件/
                            {{ item.quantity }}{{ item.product.get_uom }}</a>
                    {% else %}
                        <a href="#"
                           onclick="open_package_list('{{ item.package_list.get_absolute_url }}','{{ object.state }}')">
                            {{ item.package_list.get_part }}夹/ {{ item.piece }}件/
                            {{ item.quantity }}{{ item.product.get_uom }}</a>
                    {% endif %}
                {% else %}
                    {{ item.piece }}件/
                    {{ item.quantity }}{{ item.product.get_uom }}
                {% endif %}


                </td>
            <td>
                {% for expense in item.expenses.all %}<div class=text-right>
                                {{ expense }}={{ expense.amount }}<br></div>{% endfor %}</td>
{#                <td><!---费用显示-->#}
{#                    {% if item.expenses.all %}#}
{#                        <a href="#" class="tooltipped" data-position="bottom"#}
{#                           data-tooltip="{% for expense in item.expenses.all %}<div class=text-right>#}
{#                                {{ expense }}={{ expense.amount }}<br></div>{% endfor %}">#}
{#                            <i class="material-icons">monetization_on</i>{{ item.get_expenses_amount }}#}
{#                        </a>#}
{#                    {% endif %}</td>#}

                <td>{% if object.state == 'draft' %}
                    <!-- Dropdown Trigger -->

                    <a class='dropdown-trigger btn-floating grey' href='#' data-target='dropdown{{ forloop.counter }}'> <i
                            class="material-icons">more_vert</i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown{{ forloop.counter }}' class='dropdown-content'>
                        <li>
                            <a onclick="item_remove('{% url 'in_out_order_item_delete' item.id %}')">
                                删除
                            </a>
                        </li>
                        <li>
                            <a onclick="add_item('{% url 'mrp_item_expenses_create' item|model_name item.id %}')">
                                添加费用
                            </a>
                        </li>
                    </ul>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="2">合计：</th>
            <th>
                {% for key, item in object.get_total.items %}
                    {{ key }}:{% if item.part %}{{ item.part }}夹 / {% endif %}{{ item.piece }}件 /
                    {{ item.quantity }}{{ item.uom }}<br>
                {% endfor %}
            </th>
        <th>{{ object.get_expenses_amount }}</th>
        <th></th>
        </tr>
        </tfoot>
    </table>
{% endblock %}
{% block sidebar %}
    {% if object.invoices.all %}
        <span>账单</span>
        <hr>
        <div class="collection">
            {% for invoice in object.invoices.all %}
                <a href="{{ invoice.get_absolute_url }}" class="collection-item">{{ invoice }}</a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
{% block domready %}
    {{ block.super }}
    $('.tooltipped').tooltip();
{% endblock %}