{% extends 'mrp/kesorder_detail.html' %}
{% load crispy_forms_tags %}

{% block siderbar %}
    {{ form.media }}
    <form action="" id="item_form" method="post">
        {{ form|crispy }}
        <input class="btn btn-primary btn-block" type="submit" value="添加一项原料">
        {% csrf_token %}
    </form>
    <a class="btn btn-block btn-outline-primary" href="{% url 'kes_order_create_step3' order.id %}">下一步填写产出品资料</a>
{% endblock %}
<script>
    function getQuantity(product_id) {
        var select = $('#product_list').find('option[data-id="' + product_id + '"]')
        $("input[name='quantity']").val(select.val)
    }
</script>
{% block domready %}

{% endblock %}