{% extends 'mrp/blockcheckinorder_detail.html' %}
{% load crispy_forms_tags %}
{% load material_form %}
{{ form.media }}
{% block content %}
    <table class="table table-sm">
        <thead>
        <tr>
            <th>编号</th>
            <th>件</th>
            <th>数量</th>
            <th>单位</th>
            <th>单价</th>
            <th>金额</th>
            <th>编辑</th>
        </tr>
        </thead>

        <tbody>
        {% for object in object_list %}
            <tr id="block_list_tr">
                <td>{{ object.product }}</td>
                <td>{{ object.piece }}</td>
                <td>{{ object.quantity }}</td>
                <td>{{ object.uom }}</td>
                <td>{{ object.price }}</td>
                <td>{{ object.get_amount }}</td>
                <td>
                    <div class="dropdown">
                        <button type="button" class="btn btn-sm " data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            ...
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" data-toggle="modal" data-target=".bd-example-modal-sm"
                               href="{% url 'import_block_edit' %}">修改</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </td>
            </tr>
            {% if object.produces.all %}
                {% for produce in object.produces.all %}
                    <tr>
                        <td>{{ produce.thickness }}厚度</td>
                        <td>{{ produce.piece }}</td>

                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ object.get_quantity }}</td>
            <td></td>
            <td>{{ object.get_amount }}</td>
            <td></td>
        </tr>
        </tfoot>
    </table>
    <datalist id="product_list">
        {% for product in product_list %}
            <option value="{{ product.weight }}"
                    data-id="{{ product.id }}"
                    data-quantity="{{ product }}">{{ product.name }}</option>
        {% endfor %}
    </datalist>
    {{ form.media.js }}

{% endblock %}
{% block siderbar %}

    <form action="" id="item_form" method="post">
    {% form form=form %}{% endform %}
        <input class="mdui-btn" type="submit" value="添加一项产出品资料">
        {% csrf_token %}
    </form>
    <a class="btn btn-block btn-outline-primary" href="{% url 'kes_order_detail' order.id %}">完成</a>
{% endblock %}
<script>
    function getQuantity(product_id) {
        var select = $('#product_list').find('option[data-id="' + product_id + '"]')
        $("input[name='quantity']").val(select.val)
    }
</script>
{% block domready %}

{% endblock %}