{% extends 'mrp/detail.html' %}
{% load public %}
{{ form.media }}
{% block content %}
    <table class="table table-sm">
        <thead>
        <tr>
            <th>编号</th>
            <th>数量</th>
            <th>库位=>目标库位</th>
            <th>编辑</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
            <tr id="block_list_tr">
                <td>{{ item.product }}</td>
                <td>
                    {% if item.package_list %}
                        <a href="#"
                           onclick="open_package_list('{{ item.package_list.get_absolute_url }}','{{ object.state }}')">
                            {{ item.package_list.get_part }}夹/ {{ item.piece }}件/
                            {{ item.quantity }}{{ item.product.get_uom }}</a>
                    {% elif item.product.type == 'slab' %}
                        <a href="#"
                           onclick="open_package_list('{% url 'order_item_package_create' item|label_name item.id item.product.id item.location.id %}')">挑选货品</a>
                    {% else %}
                        {{ item.piece }}件/
                        {{ item.quantity }}{{ item.product.get_uom }}
                    {% endif %}
                </td>
                <td>{{ item.location }}=>{{ item.location_dest }}</td>
                <td>{% if object.state == 'draft' %}
                    <!-- Dropdown Trigger -->

                    <a class='dropdown-trigger btn-small btn-floating grey' href='#' data-target='dropdown{{ forloop.counter }}'>
                        <i
                                class="material-icons">more_vert</i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown{{ forloop.counter }}' class='dropdown-content'>
                        <li>
                            <a onclick="edit_item('{% url 'move_location_order_item_edit' item.id %}')">修改
                            </a>
                        </li>
                        <li>
                            <a onclick="item_remove('{% url 'move_location_order_delete' item.id %}')">
                                删除
                            </a>
                        </li>
                    </ul>
                {% endif %}</td>
            </tr>

        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td>{{ object.get_quantity }}</td>
            <td></td>
        </tr>
        </tfoot>
    </table>
    <datalist id="product_list">
        {% for product in product_list %}
            <option value="{{ product.weight }}"
                    data-id="{{ product.id }}"
                    data-quantity="{{ product }}">{{ product.name }}</option>
        {% endfor %}
    </datalist>
    <!--右下角浮动按钮组-->
    {% include 'float_btn.html' %}

{% endblock %}
{% block siderbar %}
    <div class="btn-group-vertical">
        <a class="mdui-btn" href="">编辑业务资料</a>
    </div>
{% endblock %}

{% block headline %}
    {{ object.get_state_display }}{{ object.order }}
{% endblock %}
{% block subheadline %}
    业务伙伴：{{ object.partner }} / 经办人:{{ object.handler }}
{% endblock %}
