{% load public %}
<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>编号</th>
        <th>数量</th>
        <th>单价</th>
        <th>金额</th>
        <th>编辑</th>
    </tr>
    </thead>

    <tbody>
    {% for item in object.items.all %}
        <tr id="block_list_tr">
            <td>原料</td>
            <td>{{ item.product }}</td>
            {% if  item.quantity == None %}
                <td>
                    {% with available=item.product|add_arg:object.location|call:"get_available" %}
                        {{ available.0 }}件 / {{ available.1 }}{{ item.product.get_uom }}(可用)
                    {% endwith %}
                </td>
            {% else %}
                <td>
                    {{ item.piece }}件 /
                    {{ item.quantity }}{{ item.uom }}</td>
            {% endif %}
            <td></td>
            <td></td>
            <td>{% if object.state == 'draft' %}
                <!-- Dropdown Trigger -->

                <a class='dropdown-trigger btn-floating grey' href='#' data-target='dropdown1'> <i
                        class="material-icons">more_vert</i></a>

                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                    <li>
                        <a onclick="edit_item({{ item.id }}, '{% url 'production_raw_item_edit' %}')">修改
                        </a>
                    </li>
                    <li>
                        <a onclick="item_remove({{ item.id }},'{% url 'production_raw_item_delete' 9999 %}')">
                            删除
                        </a>
                    </li>
                    <li>
                        <a onclick="add_produce_item({{ object.id }},{{ item.id }}, '{% url 'production_produce_item_edit' %}','{{ object.production_type.produce_item_type }}')">
                            添加成品
                        </a>
                    </li>
                </ul>
            {% endif %}</td>
        </tr>
        {% if item.produces.all %}
            {% for produce in item.produces.all %}
                <tr>
                    <td></td>
                    <td>{{ produce.product }}</td>
                    <td><a href="#" onclick="open_package_list('{% url 'package_list' produce.package_list.id %}')">
                        {{ produce.piece }}件/ {{ produce.package_list.get_part }}夹/
                        {{ produce.quantity }}{{ produce.product.get_uom }}</a></td>
                    <td>{{ produce.price }}</td>
                    <td>{{ produce.get_amount }}</td>
                    <td>{% if object.state == 'draft' %}
                        <a class='dropdown-trigger btn-floating grey' href='#' data-target='dropdown2'> <i
                                class="material-icons">more_vert</i></a>
                        <!-- Dropdown Structure -->
                        <ul id='dropdown2' class='dropdown-content'>
                            <li>
                                <a onclick="edit_item({{ produce.id }}, '{% url 'production_produce_item_edit' %}')">
                                    修改</a></li>
                            <li>
                                <a onclick="item_remove({{ produce.id }},'{% url 'production_produce_item_delete' 9999 %}')">
                                    删除</a></li>
                        </ul>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td></td>
        <td></td>
        <td>{{ object.get_quantity }}</td>
        <td></td>
        <td>{{ object.get_amount }}</td>
        <td></td>
    </tr>
    </tfoot>
</table>