{% extends 'mrp/detail.html' %}
{% load materializecss %}
{{ form.media }}
{% block content %}
    <table class="table table-sm">
        <thead>
        <tr>
            <th>编号</th>
            <th>数量</th>
            <th>库位</th>
            <th>编辑</th>
        </tr>
        </thead>

        <tbody>
        {% for item in object_list %}
            <tr id="block_list_tr">
                <td>{{ item.product }}</td>
                <td>{{ item.piece }}件|{{ item.quantity }}{{ item.uom }}</td>
                <td>{{ item.location }}=>{{ item.location_dest }}</td>
                <td>{% if object.state == 'draft' %}
                        <!-- Dropdown Trigger -->

                        <a class='dropdown-trigger btn-floating grey' href='#' data-target='dropdown1'> <i
                                class="material-icons">more_vert</i></a>

                        <!-- Dropdown Structure -->
                        <ul id='dropdown1' class='dropdown-content'>
                            <li>
                                <a onclick="edit_item({{ item.id }}, '{% url 'move_location_order_item_edit' %}')">修改
                                </a>
                            </li>
                            <li>
                                <a onclick="item_remove({{ item.id }},'{% url 'move_location_order_delete' 9999 %}')">
                                    删除
                                </a>
                            </li>
                        </ul>
                    {% endif %}</td>
            </tr>

        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td>{{ object.get_quantity }}</td>
            <td></td>
        </tr>
        </tfoot>
    </table>
    <datalist id="product_list">
        {% for product in product_list %}
            <option value="{{ product.weight }}"
                    data-id="{{ product.id }}"
                    data-quantity="{{ product }}">{{ product.name }}</option>
        {% endfor %}
    </datalist>
    <!--右下角浮动按钮组-->
    {% include 'float_btn.html' %}

{% endblock %}
{% block siderbar %}
    <div class="btn-group-vertical">
        <a class="mdui-btn" href="">编辑业务资料</a>
    </div>
{% endblock %}

{% block headline %}
    {{ object.get_state_display }}{{ object.order }}
{% endblock %}
{% block subheadline %}
    业务伙伴：{{ object.partner }} / 经办人:{{ object.handler }}
{% endblock %}
