{% extends 'list.html' %}
{% load public %}
{% block headline %}
    {% if object %}
        <a href="{{ object.get_absolute_url }}">{{ object|verbose_name }}:{{ object }}</a>
    {% endif %}
    文件列表
{% endblock %}
{% block content %}
    <ul class="collection">
        {% for object in object_list %}
            <li class="collection-item grey-text">
                <div class="left black-text">{{ object.entry }}:<span>{{ object.created|date:"Y-m-d" }}<small>({{ object.created|timesince }}前)</small></span><div class="right"><a onclick="item_remove('{% url 'file_delete' object.id %}')">删除</a></div></div>
{#                {% if object.entry.profile.avatar %}#}
{#                    <img src="{{ object.entry.profile.avatar.url }}" alt="{{ object.entry }}"#}
{#                         class="circle responsive-img">#}
{#                {% else %}#}
{#                    <i class="material-icons circle">{{ object.entry.user.name }}</i>#}
{#                {% endif %}#}
                <br>
                <hr>
                {{ object.render|safe }}
            </li>
        {% endfor %}
    </ul>
    {% include 'paginatior.html' %}
    {% include 'modal.html' %}

{% endblock %}
{% block domready %}
    {{ block.super }}
    $('.materialboxed').materialbox();
{% endblock %}