body, html {
    font-family: 'Noto Sans SC', sans-serif;
}

.paper {
    page-break-inside: avoid;
}

.page {
    page-break-inside: avoid !important;
    height: 15cm;

}

.container {
    padding: 12px;
    width: 92%;
    margin-left: auto;
    margin-right: 25px;
    margin-bottom: 30px;
}

.part {
    padding: 1cm auto;
    width: 98%;
    min-height: 12cm;
    float: left;
    display: block;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    margin-top: 0;
    page-break-inside: avoid !important;

}

.heade {
    padding-top: 0.3cm;
    height: 1.7cm;
    width: 100%;
}

.content {
    min-height: 12cm;
}

.part-foot {
    border-bottom: black 1px solid;
    width: 98%;
    font-weight: bold;
    font-size: large;
    padding-top: 1px;
    padding-bottom: 1px;
}

.total {
    width: 100%;
    text-align: center;
    font-size: larger;
}

table {
    width: 92%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th {
    border-bottom: black 1px solid;
}

th, td {
    padding: 0.5px 0px;
}

tr {
    margin: 0px;
}

.content table td {
    font-size: small;

}

.quote {
    padding-top: 10px;
    padding-left: 25px;
    border-left: grey 6px solid;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.logo-font-black {
    background-image: url("long-font-black.png");
    background-size: 50%;
    height: 0.7cm;
    width: 2.5cm;
    background-repeat: no-repeat;
}

.foot {
    height: 2cm;
    width: 100%;
}

.foot ul {
    padding-left: 10px;
    margin-top: 0px;
}

.smaller {
    font-size: x-small;
}

.boadr {
    margin-top: 15px;
    border: #5a5a5a 1px solid;
}

.boadr td {
    padding-left: 10px;
    border: #5a5a5a 1px solid;
    font-weight: bold;
}