{% extends 'partner/partner_detail.html' %}
{% block headline %}
    {{ object }}
{% endblock %}
{% block subheadline %}
    最近发货地址：<b>{{ object.get_last_order_address }}</b>
{% endblock %}
{% block state-right %}
    <a class="waves-effect blue btn" href="{% url 'sales_order_create_by_customer' object.id %} ">新建销售订单</a>
{% endblock %}

{% block sidebar %}
    {{ block.super }}
    {% if object.get_orders %}
        <span>最近销售订单 <a href="{% url 'sales_order_list' %}?partner={{ object.phone }}">全部订单</a></span>
        <div class="divider"></div>
        <div class="collection">
            {% for order in object.get_orders %}
                <a href="{{ order.get_absolute_url }}" class="collection-item">{{ order }}<span
                        class="badge">{{ order.get_state_display }}</span></a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
{% block operate %}
{#    {% if btn_visible.delete or not object.items.all %}#}
            <button class="btn grey" onclick="item_remove('{{ object.get_delete_url }}')">删除</button>
{#        {% endif %}#}
{% endblock %}