{% extends 'list.html' %}
{% load public %}
{% block content %}

    <ul class="collection">
        {% for object in object_list %}

            <a class="collection-item avatar grey-text" href="{{ object.get_absolute_url }}">
                {##}
                {#                <div class="right">#}
                {#                    <div class="right-align">#}
                {#                    <span class="new badge {% if object.state == 'draft' %}default{% elif object.state == 'cancel' %}grey{% elif object.state == 'done' %}yellow{% else %}blue{% endif %}"#}
                {#                          data-badge-caption="{{ object.get_state_display }}"></span>{{ object.order }}<span>#}
                {#                    </div>#}
                {#                    <div class=" black-text right-align">#}
                {#                </div>#}
                <i class="material-icons circle">{{ object.name|slice:'1' }}</i>
                <span class="title black-text">{{ object }}</span>
                <p>{{ object.phone }}<br>
                    <i>{{ object.get_address }}</i>
                </p><span>{{ object.created|date:"Y/m/d" }}</span>
            </a>
        {% endfor %}
    </ul>
    {% include 'paginatior.html' %}
    <div class="fixed-action-btn">
        <a href="{% url 'customer_create' %}" class="btn-floating btn-large red">
            <i class="large material-icons">add</i>
        </a>
    </div>
{% endblock %}
{% block sidebar %}
    <div class="card-panel white">
        <span>按条件筛选</span>
        <div class="divider"></div>
        <form action="" method="GET">
            <ul>
                {{ filter.form.as_ul }}
            </ul>
            <button class="btn waves-effect" type="submit">确定</button>
        </form>
    </div>
{% endblock %}
