{% extends 'list.html' %}
{% load materializecss %}
{% block content %}
    <form action="" method="post">
        <ul>
            {% for error in form.errors %}
                <li>
                    {{ error }}:{{ error.label_tag }}
                </li>
            {% endfor %}
        </ul>
        {{ form|materializecss }}
        {% csrf_token %}
        {% if formset %}

            <table class="table">
                {{ formset.management_form }}

                {% for form in formset.forms %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tr class="formset_row">
                        {% for field in form.visible_fields %}
                            <td>
                                {# Include the hidden fields in the form #}
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <input class="btn btn-block" type="submit" value="确定">

    </form>
{% endblock %}
