{% extends 'list.html' %}
{% load static %}
{% block content %}
    {#    <script src="{% static 'js/materialize-autocomplete/jquery.materialize-autocomplete.js' %}"></script>#}
    <form action="" method="post">
        {#        <script src="{% static 'js/autocomplete.js' %}"></script>#}
        {{ form.meida }}
        <div class="card-panel input-field">
            <ul>
                {{ form.as_ul }}
            </ul>
            {% csrf_token %}

        </div>
        {% if formset %}
            <div class="card-panel">
                <i>销售单明细</i>
                <table class="table">
                    {{ formset.management_form }}

                    {% for form in formset.forms %}
                        {% if forloop.first %}
                            <thead>
                            <tr>
                                {% for field in form.visible_fields %}
                                    <th>{{ field.label|capfirst }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                        {% endif %}
                        <tr class="formset_row">
                            {% for field in form.visible_fields %}
                                <td>
{#                                    Include the hidden fields in the form#}
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {{ field }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        <input class="btn btn-block" type="submit" value="确定">
    </form>

    {#    <script src="{% static 'js/jquery.cityselect.js' %}"></script>#}
{% endblock %}
{% block footer %}
    {{ block.super }}
    <script>
        var PARTNER_DATA;


        var $ap = $('.autocomplete').autocomplete({
            onAutocomplete: function (input) {
                // alert("aa" + DATA[input]['id'] + input);
                $('input[name=partner]').val((PARTNER_DATA[input]['id']))
            }, minLength: 2, limit: 10


        });

        function get_autocomplete(url) {
            var $form = $('form');

            $.ajax({
                url: url,
                data: $form.serialize(),
                method: 'POST',
                success: function (data) {
                    $ap.autocomplete("updateData", data);
                    $ap.autocomplete("open");
                    PARTNER_DATA = data
                }
            })
        }


        var ajax_url = '{% url 'get_address' %}';
        var DATA;

        function get_address() {
            console.log($('.prov').val())
            $.ajax({
                url: ajax_url,
                method: 'GET',
                data: {
                    'prov': $('.prov').val(),
                },
                success: function (data) {
                    DATA = data;
                    return change_city()

                }
            })
        }

        function change_city() {
            var val = $('.prov').val();
            {#$('.city').children().not(':eq(0)').remove();#}
            $('.city').html("")
            for (var c  in DATA) {
                $('.city').append("<option value=" + DATA[c]['id'] + ">" + DATA[c]['name'] + "</option>");
            }
            $(".city").formSelect();
        }

        $('.prov').on('change', function () {
            get_address('city');
        });
        $('.checkbox').on('change', function () {
            if ($(this).checked) {
                $('.prov').attr('disable', 'disable');
                $('.city').prop('disable', true);
            }
        })

    </script>
{% endblock %}
<script>
    {% block domready %}

        {{ block.super }}


    {% endblock %}
</script>