{% extends 'list.html' %}
{% load materializecss %}
{% load static %}
{% block content %}
    <form action="" method="post">
        <ul>
            {% for error in form.errors %}
                <li>
                    {{ error }}:{{ error.label_tag }}
                </li>
            {% endfor %}
            <script src="{% static 'js/autocomplete.js' %}"></script>

            {{ form.as_ul }}
            {{ form.meida }}
            {% csrf_token %}
        </ul>
        {% if formset %}

            <table class="table">
                {{ formset.management_form }}

                {% for form in formset.forms %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tr class="formset_row">
                        {% for field in form.visible_fields %}
                            <td>
                                {# Include the hidden fields in the form #}
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <input class="btn btn-block" type="submit" value="确定">

    </form>
    <script src="{% static 'js/jquery.cityselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{% endblock %}
<script>
    var ajax_url;
    var iNum1;
    var iNum2;
    var aProvince = ['湖北', '江苏', '安徽'];
    var aCity = [['武汉', '黄冈', '荆门'], ['南京', '无锡', '镇江'], ['合肥', '安庆', '黄山']];
    var aCountry = [[['武汉1', '武汉2'], ['黄冈1', '黄冈2'], ['荆门1', '荆门2']], [['南京1', '南京2'], ['无锡1', '无锡2'], ['镇江1', '镇江2']], [['合肥1', '合肥2'], ['安庆1', '安庆2'], ['黄山1', '黄山2']]];
    var DATA

    function get_address() {
        $.ajax({
            url: ajax_url,
            method: 'GET',
            data: {
                'prov': $('input.prov').val(),
                'city': $('input.city').val()
            },
            success: function (data) {
                DATA = data
            }
        })
    }


    $(function () {
        {#for (var i = 0; i < aProvince.length; i++) {#}
        {#    $('#selProvince').append('<option>' + aProvince[i] + '</option>');#}
        //}
        {#;#}
        $('.prov').change(function () {
            var $prov = $('input.prov').val();
            $('.city').children().not(':eq(0)').remove();
            {#iNum1 = $(this).children('option:selected').index();#}
            for (var c in DATA[$prov]['city']) {
                $('#selCity').append('<option value=' + c['id'] + '>' + c['name'] + '</option>');
            }
        });
        $('#selCity').change(function () {
            $('#selCountry').children().not(':eq(0)').remove();
            iNum2 = $(this).children('option:selected').index();
            var aaCountry = aCountry[iNum1 - 1][iNum2 - 1];
            for (var k = 0; k < aaCountry.length; k++) {
                $('#selCountry').append('<option>' + aaCountry[k] + '</option>');
            }
        })
    })

</script>