{% extends 'list.html' %}
{% load public %}

{% block content %}
    {#    <div class="row">#}

    <div class="col s12">

        {#            <ul class="tabs">#}
        {#                <li class="tab col s4"><a class="active" href="#items">确认</a></li>#}
        {#                {% if object.invoices.all %}#}
        {#                    <li class="tab col s4"><a href="#invoice">完成</a></li>#}
        {#                {% endif %}#}
        {#                {% if object.in_out_order.all %}#}
        {#                    <li class="tab col s4 "><a href="#in_out_order">草稿</a></li>#}
        {#                {% endif %}#}
        {#            </ul>#}
    </div>
    {#        <div id="items" class="col s12">#}
    <ul class="collection">
        {% for object in object_list %}
            <a class="collection-item avatar grey-text" href="{{ object.get_absolute_url }}">
                <div class="row">
                    <div class="right right-align">
                        <span class=" right small {% if object.state == 'draft' %}default{% elif object.state == 'cancel' %}grey{% elif object.state == 'done' %}yellow{% else %}blue{% endif %}-text"
                >{{ object.get_state_display }}
                    {{ object.order }}</span>
                        <span>
                        <h5 class="orange-text" style="font-weight: bold">{{ object.amount|format_money }}</h5>
                        </span>

                        <p>{{ object.date|date:"Y/m/d" }}<br>({{ object.date|timesince }}前)
                        </p>
                    </div>
                    <div class="left">
                        <i class="material-icons circle">{{ object.partner.name|slice:'1' }}</i>
                        <span class="title black-text">{{ object.partner }}</span>
                        <p>
                            <i>{{ object.get_address }}</i>
                        <div class="divider"></div>
                        {#                        <div class="black-text">#}
                        {#                            <span>{{ object.get_out_order_percentage|format_percentage|default_if_none:'' }}</span>#}
                        {#                            {% for key, item in object.get_total.items %}#}
                        {#                                <span>#}
                        {#                                                {{ key }}:{% if item.part %}{{ item.part }}夹#}
                        {#                                    / {% endif %}{{ item.piece }}件 /#}
                        {#                                    {{ item.quantity }}{{ item.uom }}</span><br>#}
                        {#                            {% endfor %}#}
                        {#                        </div>#}
                        {#                        <div class="divider"></div>#}
{#                        <span>@{{ object.handler }}</span>#}
                        </p>
                    </div>

                </div>
                <div class="row">
                    <div class="left">
                        <span>@{{ object.handler }}</span>
                    </div>
                    <div class="right">
                        <span class="chip">{{ object.progress }}</span>
                    </div>
                </div>

            </a>
        {% endfor %}
    </ul>
    {% include 'paginatior.html' %}
    <div class="fixed-action-btn">
        <a href="{% block add_url %}{% endblock %}" class="btn-floating btn-large red">
            <i class="large material-icons">add</i>
        </a>
    </div>
    {#        </div>#}
    {#    </div>#}
{% endblock %}
{% block sidebar %}
    <div class="card-panel white">
        <span>按条件筛选</span>
        <div class="divider"></div>
        <form action="" method="GET">
            <ul>
                {{ filter.form.as_ul }}
            </ul>
            <button class="btn waves-effect" type="submit">确定</button>
        </form>
    </div>
{% endblock %}