{% extends 'detail.html' %}
{% load public %}
{{ form.media }}
{% block header %}
    <div style="margin-bottom: 5px" class="row">
    <div class="col s12 m8">
    <div class="card sticky-action {% if object.state == '0%' %}grey lighten-1{% elif object.state not in  '0%,100%' %}blue lighten-4{% elif object.state == '100%' %} yellow lighten-4{% endif %}">
        <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i>
    <div class="row">
        <div class="left">
            {% if object.is_vital %}
                <span class="chip orange black-text">
            置顶
            </span>
            {% endif %}
            <span class="chip {% if object.state == '0%' %}grey{% elif object.state not in  '0%,100%' %}blue{% elif object.state == '100%' %} yellow{% endif %}">
        {{ object.state }}
                </span>
        </div>
    </div>
                        {{ object.name }}</span>
            <p>
                <!----suheader--->
                <span><h5 class="grey-text">{{ object.desc }}
                    {% if object.state == '0%' %}
                        <span>
            {{ object.miss_reason }}
            </span>
                    {% endif %}
        </h5></span>
                客户名称：<a href="{{ object.partner.get_absolute_url }} ">{{ object.partner }} </a>
                / {{ object.partner.phone }}<br/>
            <hr>
            跟进人:<span>{% for handler in object.handlers.all %}{% if forloop.last %}{{ handler }}{% else %}
            {{ handler }} /
        {% endif %}{% endfor %}</span>
            </p>
        </div>
        <div class="card-action" style="min-height: 60px">
            <!--状态按钮组-->
            {% if object.state != '0%' %}
                <button onclick="confirm_option('{% url 'sales_leads_miss' object.id %}')"
                        class="btn waves-effect red">错失
                </button>
            {% endif %}
            <button onclick="confirm_option('{% url 'sales_leads_update_state' object.id %}')"
                    class="btn waves-effect blue">
                推进进度
            </button>
            <button onclick="confirm_option('{% url 'sales_leads_win' object.id %}')"
                    class="btn waves-effect yellow black-text">赢得订单
            </button>
            <!--状态按钮组-->

        </div>
        <div class="card-reveal {% if object.state == 'cancel' %}grey lighten-1{% elif object.state == 'confirm' %}blue lighten-4{% elif object.state == 'done' %} yellow lighten-4{% endif %}">
                    <span class="card-title grey-text text-darken-4">更多操作
                      <i class="material-icons right">close</i></span>
            <div class="valign-wrapper">
                <div class="col s12">
                    {% block operate %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#detail">需求明细</a></li>
                <li class="tab col s6"><a href="#stock">符合库存({{ object.filter_stocks.count }})</a></li>
            </ul>
        </div>
        <div id="detail" class="col s12">
            <table>
                <tbody>
                <tr>
                    <td>需求时间</td>
                    <td colspan="3"><span class="chip">{{ object.start_time|date:"Y/m/d" }}
                <small>({{ object.strat_time|timeuntil }})</small></span>
                        - <span class="chip">{{ object.due_time|date:"Y/m/d" }}
                    <small>({{ object.due_time|timesince }})</small></span>
                    </td>
                </tr>
                <tr>
                    <td>品种名称</td>
                    <td><span class="chip">{{ object.category }}</span></td>
                </tr>
                <tr>
                    <td>类型</td>
                    <td>{% for type in object.type %}
                        <span class="chip">{% if type == 'block' %}荒料{% else %}板材{% endif %}</span>{% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>厚度规格</td>
                    <td>{% for thickness in object.thickness %}
                        <span class="chip">{{ thickness }}</span>  {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>需求数量</td>
                    <td><span class="chip">{{ object.quantity }}</span></td>
                </tr>
                <tr>
                    <td>长度要求</td>
                    <td>最低:<span class="chip">{{ object.long_lt }}</span> - <span
                            class="chip">{{ object.long_gt }}</span>最高
                    </td>
                </tr>
                <tr>
                    <td>高度要求</td>
                    <td>最低:<span class="chip">{{ object.height_lt }}</span> - <span
                            class="chip">{{ object.height_gt }}</span>最高
                    </td>
                </tr>
                <tr>
                    <td>价格区间</td>
                    <td><span class="chip">{{ object.price_lt }}</span>起 - <span
                            class="chip">{{ object.price_gt }}</span>止
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <div id="stock" class="col s12">
            <table>
                <thead>
                <tr>
                    <th>产品</th>
                    <th>数量</th>
                    <th>位置</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for object in object.filter_stocks %}
                    <tr>
                        <td><a href="{{ object.product.block.get_absolute_url }}">{{ object.product }}</a></td>
                        <td><a onclick="open_package_list_by_stock('{% url 'stock_slabs_detail' object.id %}')">
                            {% if object.product.type == 'slab' %}{{ object.get_part }} 夹/ {% endif %}
                            {{ object.piece }} 件/ {{ object.quantity }}{{ object.uom }}</a></td>
                        <td>{{ object.location }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'paginatior.html' %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% if object.get_files %}
        <div class="collection">
            <a class="collection-item" href="{% url 'object_files_list' object|label_name object.id %}">
                <span>文件档案({{ object.get_files.count }})</span>
                <i class="material-icons right">folder</i>
            </a>
        </div>
    {% endif %}
{% endblock %}
{% block action_btn %}
    <!-- action btn -->
    <div class="fixed-action-btn click-to-toggle">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            {% if object.get_update_url %}
                <li>
                    <a href="{{ object.get_update_url }}" class="btn-floating red waves-effect waves-light btn"><i
                            class="material-icons">edit</i></a>
                </li>
            {% endif %}

            {% if object.get_create_item_url %}
                <li>
                    <button onclick="add_item('{{ object.get_create_item_url }}')"
                            class="btn-floating red waves-effect waves-light btn"><i
                            class="material-icons">add</i></button>
                </li>
            {% endif %}

            {% if user|check_permission:'comment.add_comment' %}
                <li>
                    <button class="btn-floating yellow darken-1"
                            onclick="add_item('{% url 'comment_create'  object|label_name object.id %}')"><i
                            class="material-icons">format_quote</i></button>
                </li>
            {% endif %}
            {#            <li>#}
            {#                <button class="btn-floating green"><i class="material-icons">publish</i></button>#}
            {#            </li>#}
            {% if user|check_permission:'files.add_files' %}
                <li>
                    <button class="btn-floating blue"
                            onclick="add_item('{% url 'files_create'  object|label_name object.id %}')"><i
                            class="material-icons">attach_file</i></button>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

<script>
    {% block domready %}
        {{ block.super }}
        $('.dropdown-trigger').dropdown();
        $('.tabs').tabs();
    {% endblock %}
</script>