{% extends "purchase/list.html" %}
{% block content %}
    {% if object_list %}
        <table class="highlight">
            <thead>
            <tr>
                <th>状态</th>
                <th>单号</th>
                <th>日期</th>
                <th>供应商</th>
                <th>总数量</th>
                <th>金额</th>
                <th>更新日期</th>
                <th>编辑</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr id="block_list_tr">
                    <td>{{ object.state }}</td>
                    <td><a href="{{ object.get_absolute_url }}">{{ object.order }}</a></td>
                    <td>{{ object.date }}</td>
                    <td>{{ object.partner }}</td>
                    <td>{{ object.get_quantity }}{{ object.uom }}</td>
                    <td>{{ object.get_amount }}</td>
                    <td>{{ object.updated }}</td>
                    <td>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                </td>
                <td></td>
            </tr>
            </tfoot>
        </table>
    {% else %}
        <p>还未有内容</p>
    {% endif %}

{% endblock %}
{% block add_url %}{% url "purchase_order_create" %}{% endblock %}
{% block headline %}
    采购订单列表
{% endblock %}
