{% extends 'list.html' %}
{% block content %}
    <div class="collection">
        {% for object in object_list %}
            <a class="collection-item avatar grey-text" href="{{ object.get_absolute_url }}">

                <i class="material-icons circle">{{ object.name|slice:'1' }}</i>
                <span class="title black-text">{{ object }}</span>
                <p><br>
                    <i>{{ object.get_address }}</i>
                </p><span>{{ object.date|date:"Y/m/d" }}</span>

            </a>
        {% endfor %}
            {% include 'paginatior.html' %}

    </div>
    {% block fixed-action-btn %}
        <div class="fixed-action-btn">
            <a href="{% block add_url %}{% endblock %}" class="btn-floating btn-large red">
                <i class="large material-icons">add</i>
            </a>
        </div>
    {% endblock %}
{% endblock %}
