{% extends 'list.html' %}
{% block content %}
    <div class="collection">
        {% for object in object_list %}
            <a href="{{ object.get_absolute_url }}" class="collection-item">{{ object }}</a>
        {% endfor %}
    </div>
    {% block fixed-action-btn %}
        <div class="fixed-action-btn">
            <a href="{% block add_url %}{% endblock %}" class="btn-floating btn-large red">
                <i class="large material-icons">add</i>
            </a>
        </div>
    {% endblock %}
{% endblock %}
