{% extends 'detail.html' %}
{% block headline %}
    {{ object }}
{% endblock %}
{% block subheadline %}
{% endblock %}
{% block main %}

    <div class="row">
        <h5>其下库位：</h5>

        <div class="col s12 m8">
            {% for location in object.locations.all %}
                <div class="col s12 m6">
                    <div class="card-panel">
                        <a class="black-text" href="{{ location.get_absolute_url }}">
                            <h6 class="card-title">{{ location.name }}<span><p>({{ location.get_usage_display }})</p></span>
                            </h6>
                            <p>仓库：{{ location.warehouse }}</p>
                            <p>上级库位：{{ location.parent }}</p>
                            <p>库位用途：</p>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

        {% with object.get_main_location as main_location %}
            <ul>
                {{ main_location.tree_view|unordered_list }}
            </ul>
        {% endwith %}

{% endblock %}
{% block action_btn %}
    <div class="fixed-action-btn click-to-toggle">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>

            <li>
                <a href="{{ object.get_update_url }}" class="btn-floating red waves-effect waves-light btn"><i
                        class="material-icons">edit</i></a>
            </li>
            <li>
                <a href="#" onclick="add_item('{{ object.get_create_item_url }}')"
                   class="btn-floating red waves-effect waves-light btn"><i
                        class="material-icons">add</i></a>
            </li>

            <li>
                <button class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></button>
            </li>
            <li>
                <button class="btn-floating green"><i class="material-icons">publish</i></button>
            </li>
            <li>
                <button class="btn-floating blue"><i class="material-icons">attach_file</i></button>
            </li>
        </ul>
    </div>
{% endblock %}