{% extends 'base.html' %}

{% block bnaner-title %}
    {{ object.name }}
{% endblock %}
{% block content %}
    <ul>
        <li>{{ object.category }}</li>
        <li>{{ object.batch }}</li>
        <li>{{ object.weight }}</li>
        <li>{{ object.m3 }}</li>
        <li>{{ object.uom }}</li>
    </ul>
    <hr>
    {% if object.stock.all %}
        <p class="h4">可以库存：</p>
        <form action="{% url 'cart_add' object.id %}" method="post" id="stock_form">
            <ul>
                {% for stock in object.stock.all %}
                    <li><input type="checkbox" value="{{ stock.product.id }}" name="select_product_list"><a
                            href="">{{ stock.piece }}件/{{ stock.quantity }}{{ stock.uom }}@{{ stock.location }}</a></li>
                {% endfor %}
                <input type="hidden" value="{{ path }}" name="path">
            {% csrf_token %}
            </ul>
        </form>
    {% endif %}
{% endblock %}
{% block siderbar %}
    <input class="btn btn-block btn-outline-primary" type="submit" value="添加到选择列表" form="stock_form">
{% endblock %}