{% extends 'detail.html' %}
{% load public %}
{% block headline %}
    [{{ object.get_type_display }}]金额:{{ object.amount|format_money }}<br>
    账户:{{ object.account }}
{% endblock %}
{% block subheadline %}
    对方:{{ object.partner }}<br>
    登记人：{{ object.entry }} / 时间: {{ object.updated }}
{% endblock %}
{% block content %}
    {% if object.assign_invoice.all %}
        <span>分配情况</span>
        <table>
            <thead>
            <tr>
                <th>账单</th>
                <th>分配金额</th>
                <th>日期</th>
                <th>登记人</th>
            </tr>
            </thead>
            <tbody>
            {% for assign in object.assign_invoice.all %}
                <tr>
                    <td><a href="{{ assign.invoice.get_absolute_url }}">{{ assign.invoice }}</a></td>
                    <td>{{ assign.amount }}</td>
                    <td>{{ assign.created }}</td>
                    <td>{{ assign.entry }}</td>
                    <td>
                        <form action="{% url 'assign_delete' assign.id %}" method="post">
                            {% if not object.confirm %}
                                <button class="btn-floating btn-small red waves-effect waves-red" type="submit">
                                    <i class="material-icons">money_off</i>
                                </button>
                            {% endif %}
                            {% csrf_token %}
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>未分配金额</th>
                <th>{{ object.get_balance }}</th>
                <th></th>
                <th></th>
            </tr>
            </tfoot>
        </table>
    {% else %}
        <p>本笔款项，没有分配到任何账单</p>
    {% endif %}
{% endblock %}
{% block sidebar %}
    {% if object.get_files %}
        <div class="collection">
            <a class="collection-item" href="{% url 'object_files_list' object|label_name object.id %}">
                <span>文件档案({{ object.get_files.count }})</span>
                <i class="material-icons right">folder</i>
            </a>
        </div>
    {% endif %}
{% endblock %}
{% block state %}
    {% if state_form %}
        <form action="" method="post" id="state_form">
            {% csrf_token %}
            <input type="hidden" value="" name="state">
        </form>
            {% if btn_visible.draft %}
                <button class="btn white black-text" onclick="state_confirm('draft')">设成草稿</button>
            {% endif %}
        {#    {% if object.items.all %}#}
        {% if btn_visible.confirm %}
            <button id="#state_confirm_btn" class="btn blue" onclick="state_confirm('confirm')">确定</button>
        {% endif %}
        {% if btn_visible.done %}
            <button class="btn yellow black-text" onclick="state_confirm('done')">完成</button>
            {#        {% endif %}#}
        {% endif %}
            {% if btn_visible.cancel %}
                <button class="btn grey" onclick="state_confirm('cancel')">取消</button>
            {% endif %}
        {#        {% if btn_visible.delete or not object.items.all %}#}
        {% if btn_visible.delete %}
            <button class="btn red" onclick="item_remove('{{ object.get_delete_url }}')">删除</button>
        {% endif %}
    {% endif %}
    <script>
        function state_confirm(state_str) {
            $('#modal2 p').text('确定要把本单状态设置为：' + state_str);
            $('#state_form input[name=state]').val(state_str);
            $('#confirm_btn').on('click', function (e) {
                $('#state_form').submit()
            });
            md2.modal('open');
        }
    </script>
{% endblock %}
