{% load humanize %}
{% load public %}
{% load i18n %}
<ul class="collection">
        {% for object in my_sales_order %}
            <a class="collection-item avatar grey-text" href="{{ object.get_absolute_url }}">
                <div class="row">
                    <div class="right right-align">
                        <span class=" right small {% if object.state == 'draft' %}default{% elif object.state == 'cancel' %}grey{% elif object.state == 'done' %}yellow{% else %}blue{% endif %}-text"
                >{{ object.get_state_display }}
                    {{ object.order }}</span>
                        <span>
                        <h5 class="orange-text" style="font-weight: bold">{{ object.amount|format_money }}</h5>
                        </span>

                        <p>{{ object.date|date:"Y/m/d" }}<br>({{ object.date|naturalday }})
                        </p>
                    </div>
                    <div class="left">
                        <i class="material-icons circle">{{ object.partner.name|slice:'1' }}</i>
                        <span class="title black-text">{{ object.partner }}</span>
                        <p>
                            <i>{{ object.get_address }}</i>
                        <div class="divider"></div>
                        {#                        <div class="black-text">#}
                        {#                            <span>{{ object.get_out_order_percentage|format_percentage|default_if_none:'' }}</span>#}
                        {#                            {% for key, item in object.get_total.items %}#}
                        {#                                <span>#}
                        {#                                                {{ key }}:{% if item.part %}{{ item.part }}夹#}
                        {#                                    / {% endif %}{{ item.piece }}件 /#}
                        {#                                    {{ item.quantity }}{{ item.uom }}</span><br>#}
                        {#                            {% endfor %}#}
                        {#                        </div>#}
                        {#                        <div class="divider"></div>#}
{#                        <span>@{{ object.handler }}</span>#}
                        </p>
                    </div>

                </div>
                <div class="row">
                    <div class="left">
                        <span>@{{ object.handler }}</span>
                    </div>
                    <div class="right">
                        <span class="chip">{{ object.progress }}</span>
                    </div>
                </div>

            </a>
        {% endfor %}
    </ul>