{% load static %}
<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}stone system{% endblock %}</title>
    <!--Import Google Icon Font-->
    <link href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css" rel="stylesheet">
    {#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">#}
    {#        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">#}
    <!--Import materialize.css-->
    {#            <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">#}
    <link href="https://cdn.bootcss.com/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    {#    <link rel="stylesheet" href="{% static 'select2-materialize/select2-materialize.css' %}">#}
    {#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">#}

    <style>
        .ui-autocomplete {
            z-index: 215000000 !important;
        }

        header, main, footer {
            padding-left: 300px;
        }

        @media only screen and (max-width: 992px) {
            header, main, footer {
                padding-left: 0;
            }

            .modal {
                width: 92%;
            }
        }


    </style>

</head>
<body class="grey lighten-4">
{% include 'menu.html' %}

<!--标题块相关-->
<header>
    {% block header %}
    {% endblock %}
</header>

<main>
    {% block main %}

    {% endblock %}
</main>
{% include 'cart_detail.html' %}
{% block footer %}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    {#<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>#}
    <script src="{% static 'js/materialize.min.js' %}"></script>
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script><!--设置csrftoken需要-->
    <script>
        var csrftoken = Cookies.get('csrftoken');

        function csrfSafeMethon(method) {
            // 如下的HTTP请求不需要设置CRSF信息
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethon(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
    <script src="{% static "js/owner.js" %}"></script>
{% endblock %}
</body>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.fixed-action-btn').floatingActionButton({hoverEnabled: false});
        $('input[name=date]').datepicker({'format': 'yyyy-mm-dd'});
        $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
        $('select').formSelect();
        $('.collapsible').collapsible();
        {% block domready %}{% endblock %}
    });
    {% if messages %}
        {% for message in messages %}
            M.toast({html: '{{ message }}'}, 4000);
        {% endfor %}
    {% endif %}
</script>
</html>