<div id="modal_cart" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>已选择项</h4>
        <div class="list">
{#            {% include 'cart_list.html' %}#}
        </div>
    </div>
    <div class="modal-footer">
        <button id="quick_sales_order" form="cart_form" class="modal-close waves-effect waves-green btn-flat">
            用选择项新建销售单
        </button>
    </div>
</div>
<script>
    $('#quick_sales_order').on('click', function () {
        var $form = $('#cart_form');
        $form.submit();
    })
</script>