{% load humanize %}
{% if object %}
    {% regroup object.comments.all by created|naturalday as comments_list %}
    {% for comments in comments_list %}
        <div class="card-panel white" style="padding: 10px">
            <div style="text-align: center">
                <strong>{{ comments.grouper|naturalday }}</strong>
                <div class="divider"></div>
            </div>
            {% for comment in comments.list %}
                <div class="fa-credit-card {% if comment.is_log %} grey{% else %} blue{% endif %} lighten-4"
                     style="padding: 6px; margin-top:6px;border-bottom: lightgrey 1px solid">
                    <div class="col s12">
                    <span>
                    {% if  comment.user.avatar.url %}
                        <img src="{{ comment.user.avatar.url }}" alt="{{ comment.user }}" class="circle responsive-img">
                    {% else %}
                        <strong>{{ comment.user }}</strong>
                    {% endif %}
                    </span>
                        <span class="right"><small>({{ comment.created |timesince }} 前)</small></span>
                    </div>
                    <div class="divider" style="width: 92%;margin: 0 auto"></div>
                    <div style="padding-left: 30px; color:grey">
                        {#                        <span>{{ comment.time|naturaltime }}{{ task.time|date:"h:i" }}</span>#}
                        {{ comment.content|safe }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endif %}