{% extends "base.html" %}
{% load static %}
{% block header %}
    <div class="row">
        <div class="col s12 m8">
            <div class="card sticky-action">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><i
                            class="material-icons right">more_vert</i>
                        {% block headline %}{% endblock %}</span>
                    <p>{% block subheadline %}
                    {% endblock %}</p>
                </div>
                <div class="card-action">
                    {% block state %}
                        {% include 'state.html' %}<!--状态按钮组-->
                    {% endblock %}
                    {% block state-right %}
                    {% endblock %}
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">更多操作
                      <i class="material-icons right">close</i></span>
                    <div class="valign-wrapper">
                        <div class="col s12">
                            {% block operate %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% block action_btn %}
        {% include 'float_btn.html' %}
    {% endblock %}
    {% include 'modal.html' %}

{% endblock %}
{% block main %}
    <div class="row">
        <!--内容块，分content及sidebar-->
        <div class="col s12 m8 l8">
            <div class="card-panel ">
                {% block content %}
                {% endblock %}
            </div>

        </div>
        <div class="col s12 m4 l4">
            {% block sidebar %}
            {% endblock %}
        </div>
    {% if object.comments.all %}
        <div class="col s12 m8 l8">
            <div class="card-panel">
                {% include 'comment.html' %}
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
{% block footer %}
    {{ block.super }}
{% endblock %}