<!-- action btn -->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li>
            <button onclick="add_item({{ object.id }})" class="btn-floating red waves-effect waves-light btn"><i
                    class="material-icons">insert_chart</i></button>
        </li>
        <li>
            <button class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></button>
        </li>
        <li>
            <button class="btn-floating green"><i class="material-icons">publish</i></button>
        </li>
        <li>
            <button class="btn-floating blue"><i class="material-icons">attach_file</i></button>
        </li>
    </ul>
</div>
<!--form & modal -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h6>添加明细行</h6>
        <hr>
        <form id="item_form" action="{{ object.get_item_edit_url }}" method="post">
            <div class="container">
                <!--导入外部的form动态渲染-->
                {% include 'item_form.html' %}
            </div>
            {% csrf_token %}
        </form>
    </div>
    <div class="modal-footer">
{#        <input class="btn waves-effect waves-light" id="item_form" value="提交" type="submit" name="action">#}
        <input type="submit" class="btn waves-effect waves-light" form="item_form" value="确定">
        <button class="modal-close waves-effect waves-green btn-flat">取消</button>
    </div>
</div>
<div id="modal2" class="modal">
    <div class="modal-content">
        <h6>提示</h6>
        <hr>
        <p>确认删除该明细行？</p>
    </div>
    <div class="modal-footer">
        <button id="remove_confirm" class="modal-close waves-effect waves-green btn-flat red">确定</button>
        <button class="modal-close waves-effect waves-green btn-flat">取消</button>
    </div>
</div>
<!--用语删去item的时候解决csrf token的问题-->
<form id="post_form" style="display: none" action="" method="post">
    {% csrf_token %}
</form>