{% load static %}
{% if content %}
    <p>
        {{ content }}
    </p>
{% endif %}
{% if form %}
    {#    <script src="{% static 'js/autocomplete.js' %}"></script>#}
    <ul class="input-field"><!--非常重要-->
        {{ form.as_ul }}
        <!--导入外部的form动态渲染-->
    </ul>
    {{ form.media }}

    <script>
        $('.datepicker').datepicker({
            'format': 'yyyy-mm-dd', container: 'body'
        });
        $('select').formSelect();
        {% if error %}
            M.toast({html: '{{ error }}'}, 4000);
        {% endif %}

        $('#id_product')[0].onchange = function () {
            onchange_set_product_info('{% url "get_product_info" %}')
        };
    </script>
{% endif %}