<ul id="slide-out" class="sidenav sidenav-fixed">

    <ul class="collapsible">
        <li>
            <div class="collapsible-header">库存</div>
            <div class="collapsible-body">
                <ul>
                    <li><a href="{% url 'stock_list' %}">库存列表</a></li>
                    <li><a href="{% url 'warehouse_list' %}">仓库列表</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">产品</div>
            <div class="collapsible-body">
                <ul>
                    <li><a href="{% url 'block_list' %}">编号</a></li>
                    <li><a href="{% url 'product_list' %}">产品</a></li>
                    <li><a href="{% url 'package_list_draft_create' %}">新建码单</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">销售</div>
            <div class="collapsible-body">
                <ul>
                    <li><a href="{% url 'sales_order_list' %}">销售订单</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="collapsible">
        <li class="active">
            <div class="collapsible-header">出入库管理</div>
            <div class="collapsible-body">
                <ul>
                    <li><a href="{% url 'in_out_order_list' %}">出入库</a></li>
                    <li><a href="{% url 'move_location_order_list' %}">移库单</a></li>
                    <li><a href="{% url 'production_list' %}">生产订单</a></li>
                    <li>
                        <hr/>
                    </li>
                    <li><a href="{% url 'production_type_list' %}">生产业务类型设置</a></li>
                    <li><a href="{% url 'expenses_item_list' %}">费用相关设置</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="collapsible">

        <li>
            <div class="collapsible-header">采购</div>
            <div class="collapsible-body">
                <ul>
                    <li><a href="{% url 'purchase_order_list' %}">采购订单</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="collapsible">

        <li>
            <div class="collapsible-header">业务伙伴</div>
            <div class="collapsible-body">
                <ul>
                    <li><a href="{% url 'partner_list' %}">列表</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <!--采购app-->
    <li><a onclick="show_car_detail('{% url 'cart_detail' %}')">选择了：{{ cart|length }}项</a></li>
</ul>
{#<ul class="right hide-on-med-and-down">#}
{#    <li><a href="#!">First Sidebar Link</a></li>#}
{#    <li><a href="#!">Second Sidebar Link</a></li>#}
{#    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a>#}
{#    </li>#}
{#    <ul id='dropdown1' class='dropdown-content'>#}
{#        <li><a href="#!">First</a></li>#}
{#        <li><a href="#!">Second</a></li>#}
{#        <li><a href="#!">Third</a></li>#}
{#        <li><a href="#!">Fourth</a></li>#}
{#    </ul>#}
{#</ul>#}

<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>