<!--form & modal -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h6>添加明细行</h6>
        <hr>
        <form id="item_form" method="post" enctype="multipart/form-data">
            <div class="container">

                {#                {% include 'item_form.html' %}#}
            </div>
            {% csrf_token %}
            {#            <progress class="progress" value="0" max="100"></progress>#}

        </form>

    </div>
    <div class="modal-footer">
        {#        <button id="quick_create_btn" class='btn' style="display: none"#}
        {#                onclick='quick_create_draft_package_list("{% url 'quick_create_draft_package_list' %}")'>创建码单#}
        {#        </button>#}
        {#        <script>#}
        {#            function quick_create_draft_package_list(url) {#}
        {#                var $form = $('#item_form');#}
        {#                $.ajax({#}
        {#                    url: url,#}
        {#                    data: $form.serialize(),#}
        {#                    method: 'POST',#}
        {#                    success: function (data) {#}
        {#                        location.replace(data['url'])#}
        {#                    }#}
        {#                })#}
        {#            }#}
        {#        </script>#}
        {#        <button id="choice_btn" class='btn' style="display: none"#}
        {#                onclick='show_package_list("{% url 'get_draft_package_list' %}")'>选取码单#}
        {#        </button>#}
        <input type="submit" class="btn waves-effect waves-light" form="item_form" value="确定">
        <button class="modal-close waves-effect waves-green btn-flat">取消</button>
    </div>
</div>
<div id="modal2" class="modal">
    <div class="modal-content">
        <h6>提示</h6>
        <hr>
        <p>确认删除该明细行？</p>
    </div>
    <div class="modal-footer">
        <button id="confirm_btn" class="modal-close waves-effect waves-green btn-flat red">确定</button>
        <button class="modal-close waves-effect waves-green btn-flat">取消</button>
    </div>
</div>
<!-- Modal Structure -->
<div id="modal3" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>码单草稿列表</h4>
        <div class="list">
            {% include 'choice_package_list.html' %}
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
<!--用语删去item的时候解决csrf token的问题-->
<form id="post_form" style="display: none" action="" method="post">
    {% csrf_token %}
</form>


{#<div id="modal_package_list" class="modal modal-fixed-footer">#}
<div id="modal_package_list" class="modal bottom-sheet modal-fixed-footer">
    <div style="height:55px;">
        <div class="modal-top" style="position: absolute; top:0;left:0;width:100%; border-bottom: grey 1px solid">
            <div class="left" style="position: absolute; top:15px; left:10px; font-weight: bold" id="select_display"></div>
            <div style="text-align: center;">
                <button class="modal-close waves-effect btn-large btn-flat"><i class="large material-icons">keyboard_arrow_down</i>
                </button>
            </div>
            <button id="select_slab_form_submit" class="waves-effect btn-large btn-flat right"
                    style="position: absolute; right:0; top:0;">确定
            </button>
        </div>
    </div>
    {#    <div class="modal-footer">#}
    {#        <div class="left" id="select_display"></div>#}
    {#        <button id="select_slab_form_submit" class="waves-effect waves-green btn-flat red">确定</button>#}
    {#        <button class="modal-close waves-effect waves-green btn-flat">取消</button>#}
    {#    </div>#}
    <div class="modal-content">
        {#        {% include 'package_list.html' %}#}
    </div>

</div>
