{% load public %}
<ul class="pagination">
    {% if page_obj.has_previous %}
        <li>
            <a href="?{% param_replace page=page_obj.previous_page_number %}">
                <i class="material-icons">chevron_left</i></a></li>
    {% endif %}
    {% for page_number in page_obj.paginator.page_range %}
        {% ifequal page_number  page_obj.number %}
            <li class="active"><a href="#!">{{ page_number }}</a></li>
        {% else %}
            <li class="waves-effect"><a href="?{% param_replace page=page_number %}">{{ page_number }}</a></li>
        {% endifequal %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="waves-effect"><a href="?{% param_replace page=page_obj.next_page_number %}"><i
                class="material-icons">chevron_right</i></a></li>
    {% endif %}
</ul>