{% extends 'detail.html' %}
{% load public %}
{% load ratings %}
{% block bnaner-title %}
    {{ object.name }}
{% endblock %}
{% block content %}

    {% if object.stock.all %}

        <p class="h3">可用库存：</p>
        <hr>
        <form action="" method="post" id="stock_form">
            <ul>
                {% for stock in object.stock.all %}
                    {% if stock.product.type != 'semi_slab' %}
                        <li><a href="#"
                               onclick="open_package_list_by_stock('{% url 'stock_slabs_detail' stock.id %}')">{{ stock.product.get_type_display }}({{ stock.product.thickness|default_if_none:'' }}):{{ stock.piece }}件/{{ stock.quantity }}{{ stock.uom }}@{{ stock.location }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ stock.get_absolute_url }}">{{ stock.product }}:{{ stock.piece }}件/{{ stock.quantity }}{{ stock.uom }}@{{ stock.location }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <input type="hidden" value="{{ path }}" name="path">
                {% csrf_token %}
            </ul>
        </form>
    {% endif %}
    {% if object.get_lock_state_orders %}
        <h6>锁货订单:</h6>
        <div class="divider"></div>
        {% for item in object.get_lock_state_orders %}
            <table>
                <thead>
                <tr>
                    {% if forloop.first %}
                        {% for key in item.keys %}
                            <th>{{ key }}</th>
                        {% endfor %}
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for key, value in item.items %}
                        {% if key == '单号' %}
                            <td><a href="{{ value.get_absolute_url }}">{{ value.order }}</a></td>
                        {% else %}
                            <td>{{ value }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        {% endfor %}
    {% endif %}
    <!--事务-->
    {#    {% if object.get_stock_trace_all %}#}
    {#        <p class="h3">事务记录</p>#}
    {#        <hr>#}
    {#        <table>#}
    {#            {% for track in object.get_stock_trace_all %}#}
    {#                {% if forloop.first %}#}
    {#                    <thead>#}
    {#                    <tr>#}
    {#                        {% for key in track.keys %}#}
    {#                            <th>{{ key }}</th>#}
    {#                        {% endfor %}#}
    {#                    </tr>#}
    {#                    </thead>#}
    {#                {% endif %}#}
    {#                <tbody>#}
    {#                <tr>#}
    {#                    {% for key,value in track.items %}#}
    {#                        {% if forloop.first %}#}
    {#                            <td><a href="{{ value.1.get_absolute_url }}">{{ value.0 }}</a></td>#}
    {#                        {% else %}#}
    {#                            <td>{{ value }}</td>#}
    {#                        {% endif %}#}
    {#                    {% endfor %}#}
    {#                </tr>#}
    {#                </tbody>#}
    {#            {% endfor %}#}
    {#        </table>#}
    {#    {% endif %}#}
{% endblock %}
{% block headline %}
    {{ object.name }}
{% endblock %}
{% block subheadline %}
    <div class="row">
        <div class="col s7">

            <ul style="display: inline">
                <li>品种：{{ object.category|default_if_none:"" }}</li>
                <li>矿口：{{ object.quarry|default_if_none:"" }}</li>
                <li>批次：{{ object.get_batch }}</li>
                <li>重量：{{ object.weight }}</li>
                <li>立方：{{ object.m3 }}</li>
                <li>计量单位:{{ object.uom }}</li>
                <li>规格：{{ object.long|default_if_none:"" }} / {{ object.width|default_if_none:"" }}
                    / {{ object.height|default_if_none:"" }}</li>
            </ul>
        </div>
        <div class="col s5">
            <div style="text-align: right">
                {% if object.slab_yield %}
                    <span class="chip orange black-text">出材率:{{ object.slab_yield }}/{{ object.uom }}</span>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
{% block operate %}
    {% if object.products.all %}
        <ul>
            {% for product in object.products.all %}
                <li><a href="{{ product.get_absolute_url }}">{{ product }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
{% block sidebar %}
    <div class="card-panel white">
        {% ratings object %}
    </div>
    {% if object.original_stock_trace.all %}
        <div class="collection">
            <a class="collection-item" href="{% url 'block_original_stock_trace' object.id %}">
                <span>事务记录({{ object.original_stock_trace.count }})</span>
                <i class="material-icons right">folder</i>
            </a>
        </div>
    {% endif %}
    {{ block.super }}
    {% if object.files.all %}
        <div class="collection">
            <a class="collection-item" href="{% url 'object_files_list' object|label_name object.id %}">
                <span>文件档案({{ object.get_files.count }})</span>
                <i class="material-icons right">folder</i>
            </a>
        </div>
    {% endif %}
    {% if object.sales_order_item.all %}
        <div class="collection">
            <a class="collection-item" href="{% url 'block_sales_order_list' object.id %}">
                <span>相关销售订单({{ object.sales_order_item.count }})</span>
                <i class="material-icons right">folder</i>
            </a>
        </div>
    {% endif %}
{% endblock %}