{% extends 'list.html' %}
{% load public %}
{% block content %}

    <ul class="collection with-header">
        {% for object in object_list %}
            <li class="collection-item"><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        {% endfor %}
    </ul>
    {% include 'paginatior.html' %}
    <div class="fixed-action-btn">
        <a href="{% url 'quarry_create' %}" class="btn-floating btn-large red">
            <i class="large material-icons">add</i>
        </a>
    </div>
{% endblock %}
