{% extends 'list.html' %}
{% block headline %}
    库存
{% endblock %}
{% block sidebar %}
    <div class="filter-pc">
        <div class="card-panel white">
            <h4>筛选条件
                <button class="btn grey waves-effect waves-light right clear">清除条件</button>
            </h4>
            <div class="divider"></div>
            <form action="" method="GET" id="choose-form-sidebar">
                {{ filter.form.as_p }}
                <button class="btn waves-effect" type="submit">按条件筛选</button>
            </form>
        </div>
    </div>
{% endblock %}
